In [1]:
import lucrum as lc
import lucrum.datareader as ldr
from IPython.display import display

In [2]:
hist_price = ldr.get_data_binance(symbols="XRPUSDT", 
                                  start="4 May, 2018", 
                                  end="9 Apr, 2019", 
                                  interval="15m",
                                  timezone="Europe/Malta")

display(hist_price.head())
display(hist_price.tail())
print(hist_price.shape)

,open_time,open,high,low,close,close_time,trades,volume
0,2018-05-04 10:00:00+02:00,0.50000,1.50000,0.50000,0.92999,2018-05-04 10:14:59.999000+02:00,510,454626.05
1,2018-05-04 10:15:00+02:00,0.92999,0.95001,0.90800,0.91809,2018-05-04 10:29:59.999000+02:00,3665,1840797.36
2,2018-05-04 10:30:00+02:00,0.91809,0.93505,0.90190,0.93500,2018-05-04 10:44:59.999000+02:00,2675,1412154.54
3,2018-05-04 10:45:00+02:00,0.93180,0.93600,0.91600,0.92300,2018-05-04 10:59:59.999000+02:00,2911,1383279.38
4,2018-05-04 11:00:00+02:00,0.92300,0.92850,0.91111,0.92300,2018-05-04 11:14:59.999000+02:00,1919,974622.16

,open_time,open,high,low,close,close_time,trades,volume
32461,2019-04-09 01:00:00+02:00,0.35524,0.35568,0.35324,0.35400,2019-04-09 01:14:59.999000+02:00,1122,924843.3
32462,2019-04-09 01:15:00+02:00,0.35404,0.35507,0.35359,0.35473,2019-04-09 01:29:59.999000+02:00,662,415966.2
32463,2019-04-09 01:30:00+02:00,0.35462,0.35612,0.35462,0.35528,2019-04-09 01:44:59.999000+02:00,611,410664.0
32464,2019-04-09 01:45:00+02:00,0.35541,0.35643,0.35528,0.35568,2019-04-09 01:59:59.999000+02:00,617,390444.6
32465,2019-04-09 02:00:00+02:00,0.35558,0.35574,0.35391,0.35443,2019-04-09 02:14:59.999000+02:00,921,580085.0

(32466, 8)