In [1]:
import lucrum as lc
import lucrum.datareader as ldr
from IPython.display import display

In [2]:
hist_price = ldr.get_data_binance(symbols="XRPUSDT", 
                                  start="4 May, 2018", 
                                  end="9 Apr, 2019", 
                                  interval="1d",
                                  timezone="Europe/Malta")

display(hist_price.head())
display(hist_price.tail())
print(hist_price.shape)

,open_time,open,high,low,close,close_time,trades,volume
0,2018-05-04 02:00:00+02:00,0.50000,1.50000,0.50000,0.88990,2018-05-05 01:59:59.999000+02:00,37492,20890213.82
1,2018-05-05 02:00:00+02:00,0.88980,0.93500,0.88800,0.90280,2018-05-06 01:59:59.999000+02:00,26476,16816165.30
2,2018-05-06 02:00:00+02:00,0.90280,0.91800,0.83774,0.86483,2018-05-07 01:59:59.999000+02:00,28713,16002035.80
3,2018-05-07 02:00:00+02:00,0.86482,0.86886,0.80000,0.82490,2018-05-08 01:59:59.999000+02:00,29174,17303486.40
4,2018-05-08 02:00:00+02:00,0.82490,0.84802,0.79200,0.80667,2018-05-09 01:59:59.999000+02:00,23010,12971303.18

,open_time,open,high,low,close,close_time,trades,volume
336,2019-04-05 02:00:00+02:00,0.32996,0.37999,0.32994,0.36130,2019-04-06 01:59:59.999000+02:00,216258,277642035.5
337,2019-04-06 02:00:00+02:00,0.36118,0.36224,0.34610,0.35264,2019-04-07 01:59:59.999000+02:00,112820,127333234.4
338,2019-04-07 02:00:00+02:00,0.35267,0.36700,0.35041,0.36120,2019-04-08 01:59:59.999000+02:00,99902,110132996.9
339,2019-04-08 02:00:00+02:00,0.36149,0.37012,0.34365,0.35568,2019-04-09 01:59:59.999000+02:00,120076,128130260.7
340,2019-04-09 02:00:00+02:00,0.35558,0.35574,0.34385,0.34744,2019-04-10 01:59:59.999000+02:00,40938,41534433.2

(341, 8)

In [3]:
from lucrum.algo import pyta

In [4]:
ta_config = {
    "SMA" : [("sma_2", {"timeperiod" : 3, "price" : "close"}),
             ("sma_5", {"timeperiod" : 10, "price" : "close"})]
}

ta_columns = pyta.apply_ta(hist_price, ta_config)

In [5]:
print(ta_columns)
display(hist_price.tail())

['sma_2', 'sma_5']

,open_time,open,high,low,close,close_time,trades,volume,sma_2,sma_5
336,2019-04-05 02:00:00+02:00,0.32996,0.37999,0.32994,0.36130,2019-04-06 01:59:59.999000+02:00,216258,277642035.5,0.343827,0.323832
337,2019-04-06 02:00:00+02:00,0.36118,0.36224,0.34610,0.35264,2019-04-07 01:59:59.999000+02:00,112820,127333234.4,0.347967,0.328084
338,2019-04-07 02:00:00+02:00,0.35267,0.36700,0.35041,0.36120,2019-04-08 01:59:59.999000+02:00,99902,110132996.9,0.358380,0.333600
339,2019-04-08 02:00:00+02:00,0.36149,0.37012,0.34365,0.35568,2019-04-09 01:59:59.999000+02:00,120076,128130260.7,0.356507,0.338394
340,2019-04-09 02:00:00+02:00,0.35558,0.35574,0.34385,0.34744,2019-04-10 01:59:59.999000+02:00,40938,41534433.2,0.354773,0.342031