In [1]:
import lucrum as lc
import lucrum.datareader as ldr
from IPython.display import display
from sklearn.utils import resample
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
hist_price = ldr.get_data_binance(symbols="XRPUSDT", 
                                  start="5 May, 2018", 
                                  end="18 Apr, 2019", 
                                  interval="15m",
                                  timezone="Europe/Malta")

display(hist_price.head())
display(hist_price.tail())
print(hist_price.shape)

,open_time,open,high,low,close,close_time,trades,volume
0,2018-05-05 02:00:00+02:00,0.88980,0.90000,0.88800,0.89766,2018-05-05 02:14:59.999000+02:00,274,159373.17
1,2018-05-05 02:15:00+02:00,0.89766,0.90460,0.89601,0.90388,2018-05-05 02:29:59.999000+02:00,290,243422.10
2,2018-05-05 02:30:00+02:00,0.90388,0.90460,0.89540,0.90391,2018-05-05 02:44:59.999000+02:00,206,126523.80
3,2018-05-05 02:45:00+02:00,0.90390,0.90500,0.89520,0.89644,2018-05-05 02:59:59.999000+02:00,295,121757.09
4,2018-05-05 03:00:00+02:00,0.89643,0.89922,0.89218,0.89470,2018-05-05 03:14:59.999000+02:00,251,146653.00

,open_time,open,high,low,close,close_time,trades,volume
33261,2019-04-18 01:00:00+02:00,0.33577,0.33587,0.33377,0.33390,2019-04-18 01:14:59.999000+02:00,664,605290.1
33262,2019-04-18 01:15:00+02:00,0.33388,0.33406,0.33230,0.33344,2019-04-18 01:29:59.999000+02:00,805,712010.9
33263,2019-04-18 01:30:00+02:00,0.33345,0.33417,0.33288,0.33391,2019-04-18 01:44:59.999000+02:00,477,337987.8
33264,2019-04-18 01:45:00+02:00,0.33398,0.33455,0.33392,0.33436,2019-04-18 01:59:59.999000+02:00,502,766151.9
33265,2019-04-18 02:00:00+02:00,0.33435,0.33634,0.33411,0.33597,2019-04-18 02:14:59.999000+02:00,780,789653.1

(33266, 8)

In [3]:
# trying to predict crossover 
from lucrum.algo import pyta
import numpy as np

In [4]:
# creating features
ta_config = {
    "EMA":[("ema_3", {"timeperiod" : 3, "price" : "close"})],
    "SMA":[("sma_10", {"timeperiod" : 10, "price" : "close"})]  
}

ta_columns = pyta.apply_ta(hist_price, ta_config)

In [5]:
# add outcome 

# calculating crossovers 
ema_3 = hist_price["ema_3"].shift(1)
sma_10 = hist_price["sma_10"].shift(1)
hist_price["crossing"] = (((hist_price["ema_3"] < hist_price["sma_10"]) & (ema_3 >= sma_10))
            | ((hist_price["ema_3"] > hist_price["sma_10"]) & (ema_3 <= sma_10)))

# change to 1 and 0 
hist_price["crossing"] = hist_price["crossing"].map({True: 1, False: 0})

# drop NA 
hist_price = hist_price.dropna()
display(hist_price.head())
display(hist_price.tail(100))

,open_time,open,high,low,close,close_time,trades,volume,ema_3,sma_10,crossing
9,2018-05-05 04:15:00+02:00,0.90133,0.90334,0.89769,0.90300,2018-05-05 04:29:59.999000+02:00,285,201916.20,0.902182,0.899894,0
10,2018-05-05 04:30:00+02:00,0.90300,0.90300,0.89710,0.89816,2018-05-05 04:44:59.999000+02:00,209,113327.48,0.900171,0.899944,0
11,2018-05-05 04:45:00+02:00,0.89999,0.90100,0.89800,0.90090,2018-05-05 04:59:59.999000+02:00,148,56226.42,0.900536,0.899646,0
12,2018-05-05 05:00:00+02:00,0.90094,0.90099,0.89831,0.89832,2018-05-05 05:14:59.999000+02:00,166,68384.99,0.899428,0.899087,0
13,2018-05-05 05:15:00+02:00,0.89832,0.90234,0.89832,0.90234,2018-05-05 05:29:59.999000+02:00,212,85895.89,0.900884,0.899677,0

,open_time,open,high,low,close,close_time,trades,volume,ema_3,sma_10,crossing
33166,2019-04-17 01:15:00+02:00,0.32263,0.32300,0.32236,0.32250,2019-04-17 01:29:59.999000+02:00,201,185006.0,0.322320,0.321598,0
33167,2019-04-17 01:30:00+02:00,0.32249,0.32479,0.32249,0.32449,2019-04-17 01:44:59.999000+02:00,640,950636.0,0.323405,0.321934,0
33168,2019-04-17 01:45:00+02:00,0.32448,0.32500,0.32379,0.32379,2019-04-17 01:59:59.999000+02:00,388,484795.4,0.323597,0.322163,0
33169,2019-04-17 02:00:00+02:00,0.32400,0.32540,0.32314,0.32382,2019-04-17 02:14:59.999000+02:00,699,921183.3,0.323709,0.322356,0
33170,2019-04-17 02:15:00+02:00,0.32378,0.32448,0.32322,0.32380,2019-04-17 02:29:59.999000+02:00,423,430358.5,0.323754,0.322621,0
33171,2019-04-17 02:30:00+02:00,0.32358,0.32402,0.32291,0.32332,2019-04-17 02:44:59.999000+02:00,334,360972.6,0.323537,0.322867,0
33172,2019-04-17 02:45:00+02:00,0.32332,0.32332,0.32187,0.32201,2019-04-17 02:59:59.999000+02:00,418,432049.8,0.322774,0.322971,1
33173,2019-04-17 03:00:00+02:00,0.32202,0.32258,0.32062,0.32111,2019-04-17 03:14:59.999000+02:00,543,928340.7,0.321942,0.322961,0
33174,2019-04-17 03:15:00+02:00,0.32093,0.32200,0.32050,0.32174,2019-04-17 03:29:59.999000+02:00,412,533990.4,0.321841,0.322924,0
33175,2019-04-17 03:30:00+02:00,0.32196,0.32249,0.32099,0.32212,2019-04-17 03:44:59.999000+02:00,502,607909.0,0.321980,0.322870,0
33176,2019-04-17 03:45:00+02:00,0.32198,0.32243,0.32142,0.32200,2019-04-17 03:59:59.999000+02:00,303,309965.1,0.321990,0.322820,0
33177,2019-04-17 04:00:00+02:00,0.32200,0.32401,0.32193,0.32286,2019-04-17 04:14:59.999000+02:00,703,861519.0,0.322425,0.322657,0
33178,2019-04-17 04:15:00+02:00,0.32273,0.32300,0.32191,0.32207,2019-04-17 04:29:59.999000+02:00,291,359182.7,0.322248,0.322485,0
33179,2019-04-17 04:30:00+02:00,0.32205,0.32290,0.32194,0.32280,2019-04-17 04:44:59.999000+02:00,291,381583.1,0.322524,0.322383,1
33180,2019-04-17 04:45:00+02:00,0.32232,0.32279,0.32209,0.32243,2019-04-17 04:59:59.999000+02:00,258,231798.6,0.322477,0.322246,0
33181,2019-04-17 05:00:00+02:00,0.32257,0.32258,0.32085,0.32100,2019-04-17 05:14:59.999000+02:00,474,393814.8,0.321738,0.322014,1
33182,2019-04-17 05:15:00+02:00,0.32086,0.32156,0.32043,0.32152,2019-04-17 05:29:59.999000+02:00,418,315388.1,0.321629,0.321965,0
33183,2019-04-17 05:30:00+02:00,0.32157,0.32196,0.32140,0.32158,2019-04-17 05:44:59.999000+02:00,377,305150.5,0.321605,0.322012,0
33184,2019-04-17 05:45:00+02:00,0.32144,0.32292,0.32143,0.32247,2019-04-17 05:59:59.999000+02:00,577,559682.6,0.322037,0.322085,0
33185,2019-04-17 06:00:00+02:00,0.32234,0.32298,0.32125,0.32134,2019-04-17 06:14:59.999000+02:00,484,448349.9,0.321689,0.322007,0
33186,2019-04-17 06:15:00+02:00,0.32135,0.32200,0.32110,0.32155,2019-04-17 06:29:59.999000+02:00,255,257169.9,0.321619,0.321962,0
33187,2019-04-17 06:30:00+02:00,0.32155,0.32211,0.32112,0.32207,2019-04-17 06:44:59.999000+02:00,246,233668.5,0.321845,0.321883,0
33188,2019-04-17 06:45:00+02:00,0.32198,0.32269,0.32178,0.32257,2019-04-17 06:59:59.999000+02:00,363,365750.3,0.322207,0.321933,1
33189,2019-04-17 07:00:00+02:00,0.32256,0.32259,0.32200,0.32208,2019-04-17 07:14:59.999000+02:00,437,429364.0,0.322144,0.321861,0
33190,2019-04-17 07:15:00+02:00,0.32207,0.32207,0.32144,0.32148,2019-04-17 07:29:59.999000+02:00,335,410112.9,0.321812,0.321766,0
33191,2019-04-17 07:30:00+02:00,0.32163,0.32220,0.32112,0.32140,2019-04-17 07:44:59.999000+02:00,400,498753.5,0.321606,0.321806,1
33192,2019-04-17 07:45:00+02:00,0.32146,0.32201,0.32081,0.32171,2019-04-17 07:59:59.999000+02:00,414,418211.3,0.321658,0.321825,0
33193,2019-04-17 08:00:00+02:00,0.32170,0.32175,0.32084,0.32158,2019-04-17 08:14:59.999000+02:00,389,213136.3,0.321619,0.321825,0
33194,2019-04-17 08:15:00+02:00,0.32158,0.32209,0.32070,0.32099,2019-04-17 08:29:59.999000+02:00,403,260438.5,0.321304,0.321677,0
33195,2019-04-17 08:30:00+02:00,0.32100,0.32164,0.32086,0.32086,2019-04-17 08:44:59.999000+02:00,379,434957.1,0.321082,0.321629,0
...,...,...,...,...,...,...,...,...,...,...,...
33236,2019-04-17 18:45:00+02:00,0.33135,0.33215,0.33118,0.33192,2019-04-17 18:59:59.999000+02:00,767,422774.4,0.331370,0.330798,0
33237,2019-04-17 19:00:00+02:00,0.33192,0.33211,0.33075,0.33140,2019-04-17 19:14:59.999000+02:00,929,913771.0,0.331385,0.330842,0
33238,2019-04-17 19:15:00+02:00,0.33136,0.33401,0.33000,0.33301,2019-04-17 19:29:59.999000+02:00,1726,2045706.4,0.332198,0.330937,0
33239,2019-04-17 19:30:00+02:00,0.33320,0.33416,0.33216,0.33222,2019-04-17 19:44:59.999000+02:00,1063,711205.2,0.332209,0.330971,0
33240,2019-04-17 19:45:00+02:00,0.33219,0.33243,0.33075,0.33140,2019-04-17 19:59:59.999000+02:00,1108,1060947.0,0.331804,0.331139,0
33241,2019-04-17 20:00:00+02:00,0.33143,0.33200,0.33079,0.33148,2019-04-17 20:14:59.999000+02:00,806,537121.1,0.331642,0.331296,0
33242,2019-04-17 20:15:00+02:00,0.33160,0.33160,0.33061,0.33080,2019-04-17 20:29:59.999000+02:00,574,318188.6,0.331221,0.331393,1
33243,2019-04-17 20:30:00+02:00,0.33080,0.33200,0.32960,0.33177,2019-04-17 20:44:59.999000+02:00,889,782166.3,0.331496,0.331614,0
33244,2019-04-17 20:45:00+02:00,0.33188,0.33300,0.33150,0.33264,2019-04-17 20:59:59.999000+02:00,920,643175.4,0.332068,0.331797,1
33245,2019-04-17 21:00:00+02:00,0.33271,0.33325,0.33169,0.33192,2019-04-17 21:14:59.999000+02:00,778,284846.1,0.331994,0.331856,0
33246,2019-04-17 21:15:00+02:00,0.33191,0.33200,0.33101,0.33176,2019-04-17 21:29:59.999000+02:00,712,329819.5,0.331877,0.331840,0
33247,2019-04-17 21:30:00+02:00,0.33179,0.33331,0.33177,0.33299,2019-04-17 21:44:59.999000+02:00,892,708042.2,0.332433,0.331999,0
33248,2019-04-17 21:45:00+02:00,0.33284,0.33398,0.33254,0.33381,2019-04-17 21:59:59.999000+02:00,810,443063.8,0.333122,0.332079,0
33249,2019-04-17 22:00:00+02:00,0.33366,0.33500,0.33344,0.33357,2019-04-17 22:14:59.999000+02:00,1034,1371452.0,0.333346,0.332214,0
33250,2019-04-17 22:15:00+02:00,0.33360,0.33580,0.33359,0.33463,2019-04-17 22:29:59.999000+02:00,1010,1356786.2,0.333988,0.332537,0
33251,2019-04-17 22:30:00+02:00,0.33463,0.33513,0.33333,0.33502,2019-04-17 22:44:59.999000+02:00,806,846361.0,0.334504,0.332891,0
33252,2019-04-17 22:45:00+02:00,0.33513,0.33691,0.33484,0.33657,2019-04-17 22:59:59.999000+02:00,1292,1812234.1,0.335537,0.333468,0
33253,2019-04-17 23:00:00+02:00,0.33657,0.33850,0.33600,0.33850,2019-04-17 23:14:59.999000+02:00,1321,1708704.6,0.337018,0.334141,0
33254,2019-04-17 23:15:00+02:00,0.33850,0.34100,0.33715,0.33748,2019-04-17 23:29:59.999000+02:00,2432,3707947.0,0.337249,0.334625,0
33255,2019-04-17 23:30:00+02:00,0.33749,0.33898,0.33748,0.33768,2019-04-17 23:44:59.999000+02:00,1032,1268564.4,0.337465,0.335201,0
33256,2019-04-17 23:45:00+02:00,0.33795,0.33795,0.33497,0.33600,2019-04-17 23:59:59.999000+02:00,1122,1325252.3,0.336732,0.335625,0
33257,2019-04-18 00:00:00+02:00,0.33607,0.33807,0.33591,0.33699,2019-04-18 00:14:59.999000+02:00,879,892201.9,0.336861,0.336025,0
33258,2019-04-18 00:15:00+02:00,0.33698,0.33701,0.33520,0.33525,2019-04-18 00:29:59.999000+02:00,622,745074.2,0.336056,0.336169,1
33259,2019-04-18 00:30:00+02:00,0.33525,0.33525,0.33256,0.33430,2019-04-18 00:44:59.999000+02:00,1268,1548730.5,0.335178,0.336242,0
33260,2019-04-18 00:45:00+02:00,0.33429,0.33612,0.33408,0.33577,2019-04-18 00:59:59.999000+02:00,647,718597.6,0.335474,0.336356,0
33261,2019-04-18 01:00:00+02:00,0.33577,0.33587,0.33377,0.33390,2019-04-18 01:14:59.999000+02:00,664,605290.1,0.334687,0.336244,0
33262,2019-04-18 01:15:00+02:00,0.33388,0.33406,0.33230,0.33344,2019-04-18 01:29:59.999000+02:00,805,712010.9,0.334063,0.335931,0
33263,2019-04-18 01:30:00+02:00,0.33345,0.33417,0.33288,0.33391,2019-04-18 01:44:59.999000+02:00,477,337987.8,0.333987,0.335472,0
33264,2019-04-18 01:45:00+02:00,0.33398,0.33455,0.33392,0.33436,2019-04-18 01:59:59.999000+02:00,502,766151.9,0.334173,0.335160,0
33265,2019-04-18 02:00:00+02:00,0.33435,0.33634,0.33411,0.33597,2019-04-18 02:14:59.999000+02:00,780,789653.1,0.335072,0.334989,1

In [6]:
# pre-processing
crdt = hist_price[["open_time", "ema_3", "sma_10", "crossing"]]

def lag(dataframe, lag, column):
    for i in range(1, lag + 1):
        lagged = crdt[column].shift(i)
        col_name = column + '_lag_' + str(i)
        dataframe.insert(dataframe.shape[1] - 1, col_name, lagged)

lag(crdt, 5, "ema_3")
lag(crdt, 5, "sma_10")
display(crdt.tail(100))

,open_time,ema_3,sma_10,ema_3_lag_1,ema_3_lag_2,ema_3_lag_3,ema_3_lag_4,ema_3_lag_5,sma_10_lag_1,sma_10_lag_2,sma_10_lag_3,sma_10_lag_4,sma_10_lag_5,crossing
33166,2019-04-17 01:15:00+02:00,0.322320,0.321598,0.322140,0.321619,0.321129,0.321048,0.321125,0.321452,0.321367,0.321330,0.321318,0.321367,0
33167,2019-04-17 01:30:00+02:00,0.323405,0.321934,0.322320,0.322140,0.321619,0.321129,0.321048,0.321598,0.321452,0.321367,0.321330,0.321318,0
33168,2019-04-17 01:45:00+02:00,0.323597,0.322163,0.323405,0.322320,0.322140,0.321619,0.321129,0.321934,0.321598,0.321452,0.321367,0.321330,0
33169,2019-04-17 02:00:00+02:00,0.323709,0.322356,0.323597,0.323405,0.322320,0.322140,0.321619,0.322163,0.321934,0.321598,0.321452,0.321367,0
33170,2019-04-17 02:15:00+02:00,0.323754,0.322621,0.323709,0.323597,0.323405,0.322320,0.322140,0.322356,0.322163,0.321934,0.321598,0.321452,0
33171,2019-04-17 02:30:00+02:00,0.323537,0.322867,0.323754,0.323709,0.323597,0.323405,0.322320,0.322621,0.322356,0.322163,0.321934,0.321598,0
33172,2019-04-17 02:45:00+02:00,0.322774,0.322971,0.323537,0.323754,0.323709,0.323597,0.323405,0.322867,0.322621,0.322356,0.322163,0.321934,1
33173,2019-04-17 03:00:00+02:00,0.321942,0.322961,0.322774,0.323537,0.323754,0.323709,0.323597,0.322971,0.322867,0.322621,0.322356,0.322163,0
33174,2019-04-17 03:15:00+02:00,0.321841,0.322924,0.321942,0.322774,0.323537,0.323754,0.323709,0.322961,0.322971,0.322867,0.322621,0.322356,0
33175,2019-04-17 03:30:00+02:00,0.321980,0.322870,0.321841,0.321942,0.322774,0.323537,0.323754,0.322924,0.322961,0.322971,0.322867,0.322621,0
33176,2019-04-17 03:45:00+02:00,0.321990,0.322820,0.321980,0.321841,0.321942,0.322774,0.323537,0.322870,0.322924,0.322961,0.322971,0.322867,0
33177,2019-04-17 04:00:00+02:00,0.322425,0.322657,0.321990,0.321980,0.321841,0.321942,0.322774,0.322820,0.322870,0.322924,0.322961,0.322971,0
33178,2019-04-17 04:15:00+02:00,0.322248,0.322485,0.322425,0.321990,0.321980,0.321841,0.321942,0.322657,0.322820,0.322870,0.322924,0.322961,0
33179,2019-04-17 04:30:00+02:00,0.322524,0.322383,0.322248,0.322425,0.321990,0.321980,0.321841,0.322485,0.322657,0.322820,0.322870,0.322924,1
33180,2019-04-17 04:45:00+02:00,0.322477,0.322246,0.322524,0.322248,0.322425,0.321990,0.321980,0.322383,0.322485,0.322657,0.322820,0.322870,0
33181,2019-04-17 05:00:00+02:00,0.321738,0.322014,0.322477,0.322524,0.322248,0.322425,0.321990,0.322246,0.322383,0.322485,0.322657,0.322820,1
33182,2019-04-17 05:15:00+02:00,0.321629,0.321965,0.321738,0.322477,0.322524,0.322248,0.322425,0.322014,0.322246,0.322383,0.322485,0.322657,0
33183,2019-04-17 05:30:00+02:00,0.321605,0.322012,0.321629,0.321738,0.322477,0.322524,0.322248,0.321965,0.322014,0.322246,0.322383,0.322485,0
33184,2019-04-17 05:45:00+02:00,0.322037,0.322085,0.321605,0.321629,0.321738,0.322477,0.322524,0.322012,0.321965,0.322014,0.322246,0.322383,0
33185,2019-04-17 06:00:00+02:00,0.321689,0.322007,0.322037,0.321605,0.321629,0.321738,0.322477,0.322085,0.322012,0.321965,0.322014,0.322246,0
33186,2019-04-17 06:15:00+02:00,0.321619,0.321962,0.321689,0.322037,0.321605,0.321629,0.321738,0.322007,0.322085,0.322012,0.321965,0.322014,0
33187,2019-04-17 06:30:00+02:00,0.321845,0.321883,0.321619,0.321689,0.322037,0.321605,0.321629,0.321962,0.322007,0.322085,0.322012,0.321965,0
33188,2019-04-17 06:45:00+02:00,0.322207,0.321933,0.321845,0.321619,0.321689,0.322037,0.321605,0.321883,0.321962,0.322007,0.322085,0.322012,1
33189,2019-04-17 07:00:00+02:00,0.322144,0.321861,0.322207,0.321845,0.321619,0.321689,0.322037,0.321933,0.321883,0.321962,0.322007,0.322085,0
33190,2019-04-17 07:15:00+02:00,0.321812,0.321766,0.322144,0.322207,0.321845,0.321619,0.321689,0.321861,0.321933,0.321883,0.321962,0.322007,0
33191,2019-04-17 07:30:00+02:00,0.321606,0.321806,0.321812,0.322144,0.322207,0.321845,0.321619,0.321766,0.321861,0.321933,0.321883,0.321962,1
33192,2019-04-17 07:45:00+02:00,0.321658,0.321825,0.321606,0.321812,0.322144,0.322207,0.321845,0.321806,0.321766,0.321861,0.321933,0.321883,0
33193,2019-04-17 08:00:00+02:00,0.321619,0.321825,0.321658,0.321606,0.321812,0.322144,0.322207,0.321825,0.321806,0.321766,0.321861,0.321933,0
33194,2019-04-17 08:15:00+02:00,0.321304,0.321677,0.321619,0.321658,0.321606,0.321812,0.322144,0.321825,0.321825,0.321806,0.321766,0.321861,0
33195,2019-04-17 08:30:00+02:00,0.321082,0.321629,0.321304,0.321619,0.321658,0.321606,0.321812,0.321677,0.321825,0.321825,0.321806,0.321766,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33236,2019-04-17 18:45:00+02:00,0.331370,0.330798,0.330821,0.330312,0.329814,0.330067,0.330305,0.330680,0.330523,0.330787,0.330987,0.331464,0
33237,2019-04-17 19:00:00+02:00,0.331385,0.330842,0.331370,0.330821,0.330312,0.329814,0.330067,0.330798,0.330680,0.330523,0.330787,0.330987,0
33238,2019-04-17 19:15:00+02:00,0.332198,0.330937,0.331385,0.331370,0.330821,0.330312,0.329814,0.330842,0.330798,0.330680,0.330523,0.330787,0
33239,2019-04-17 19:30:00+02:00,0.332209,0.330971,0.332198,0.331385,0.331370,0.330821,0.330312,0.330937,0.330842,0.330798,0.330680,0.330523,0
33240,2019-04-17 19:45:00+02:00,0.331804,0.331139,0.332209,0.332198,0.331385,0.331370,0.330821,0.330971,0.330937,0.330842,0.330798,0.330680,0
33241,2019-04-17 20:00:00+02:00,0.331642,0.331296,0.331804,0.332209,0.332198,0.331385,0.331370,0.331139,0.330971,0.330937,0.330842,0.330798,0
33242,2019-04-17 20:15:00+02:00,0.331221,0.331393,0.331642,0.331804,0.332209,0.332198,0.331385,0.331296,0.331139,0.330971,0.330937,0.330842,1
33243,2019-04-17 20:30:00+02:00,0.331496,0.331614,0.331221,0.331642,0.331804,0.332209,0.332198,0.331393,0.331296,0.331139,0.330971,0.330937,0
33244,2019-04-17 20:45:00+02:00,0.332068,0.331797,0.331496,0.331221,0.331642,0.331804,0.332209,0.331614,0.331393,0.331296,0.331139,0.330971,1
33245,2019-04-17 21:00:00+02:00,0.331994,0.331856,0.332068,0.331496,0.331221,0.331642,0.331804,0.331797,0.331614,0.331393,0.331296,0.331139,0
33246,2019-04-17 21:15:00+02:00,0.331877,0.331840,0.331994,0.332068,0.331496,0.331221,0.331642,0.331856,0.331797,0.331614,0.331393,0.331296,0
33247,2019-04-17 21:30:00+02:00,0.332433,0.331999,0.331877,0.331994,0.332068,0.331496,0.331221,0.331840,0.331856,0.331797,0.331614,0.331393,0
33248,2019-04-17 21:45:00+02:00,0.333122,0.332079,0.332433,0.331877,0.331994,0.332068,0.331496,0.331999,0.331840,0.331856,0.331797,0.331614,0
33249,2019-04-17 22:00:00+02:00,0.333346,0.332214,0.333122,0.332433,0.331877,0.331994,0.332068,0.332079,0.331999,0.331840,0.331856,0.331797,0
33250,2019-04-17 22:15:00+02:00,0.333988,0.332537,0.333346,0.333122,0.332433,0.331877,0.331994,0.332214,0.332079,0.331999,0.331840,0.331856,0
33251,2019-04-17 22:30:00+02:00,0.334504,0.332891,0.333988,0.333346,0.333122,0.332433,0.331877,0.332537,0.332214,0.332079,0.331999,0.331840,0
33252,2019-04-17 22:45:00+02:00,0.335537,0.333468,0.334504,0.333988,0.333346,0.333122,0.332433,0.332891,0.332537,0.332214,0.332079,0.331999,0
33253,2019-04-17 23:00:00+02:00,0.337018,0.334141,0.335537,0.334504,0.333988,0.333346,0.333122,0.333468,0.332891,0.332537,0.332214,0.332079,0
33254,2019-04-17 23:15:00+02:00,0.337249,0.334625,0.337018,0.335537,0.334504,0.333988,0.333346,0.334141,0.333468,0.332891,0.332537,0.332214,0
33255,2019-04-17 23:30:00+02:00,0.337465,0.335201,0.337249,0.337018,0.335537,0.334504,0.333988,0.334625,0.334141,0.333468,0.332891,0.332537,0
33256,2019-04-17 23:45:00+02:00,0.336732,0.335625,0.337465,0.337249,0.337018,0.335537,0.334504,0.335201,0.334625,0.334141,0.333468,0.332891,0
33257,2019-04-18 00:00:00+02:00,0.336861,0.336025,0.336732,0.337465,0.337249,0.337018,0.335537,0.335625,0.335201,0.334625,0.334141,0.333468,0
33258,2019-04-18 00:15:00+02:00,0.336056,0.336169,0.336861,0.336732,0.337465,0.337249,0.337018,0.336025,0.335625,0.335201,0.334625,0.334141,1
33259,2019-04-18 00:30:00+02:00,0.335178,0.336242,0.336056,0.336861,0.336732,0.337465,0.337249,0.336169,0.336025,0.335625,0.335201,0.334625,0
33260,2019-04-18 00:45:00+02:00,0.335474,0.336356,0.335178,0.336056,0.336861,0.336732,0.337465,0.336242,0.336169,0.336025,0.335625,0.335201,0
33261,2019-04-18 01:00:00+02:00,0.334687,0.336244,0.335474,0.335178,0.336056,0.336861,0.336732,0.336356,0.336242,0.336169,0.336025,0.335625,0
33262,2019-04-18 01:15:00+02:00,0.334063,0.335931,0.334687,0.335474,0.335178,0.336056,0.336861,0.336244,0.336356,0.336242,0.336169,0.336025,0
33263,2019-04-18 01:30:00+02:00,0.333987,0.335472,0.334063,0.334687,0.335474,0.335178,0.336056,0.335931,0.336244,0.336356,0.336242,0.336169,0
33264,2019-04-18 01:45:00+02:00,0.334173,0.335160,0.333987,0.334063,0.334687,0.335474,0.335178,0.335472,0.335931,0.336244,0.336356,0.336242,0
33265,2019-04-18 02:00:00+02:00,0.335072,0.334989,0.334173,0.333987,0.334063,0.334687,0.335474,0.335160,0.335472,0.335931,0.336244,0.336356,1

In [7]:
# # experiment 

# # calculate spread between sma 
# hist_price["sma_spread"] = (hist_price["sma_3"] - hist_price["sma_10"]).abs()

# # calculate signal 
# display(hist_price)
crdt = crdt.dropna()
test_col = crdt.columns[3:crdt.shape[1] - 1].values 
crdt[test_col] = crdt[test_col].div(crdt[test_col].sum(axis=1), axis=0)

display(crdt)

,open_time,ema_3,sma_10,ema_3_lag_1,ema_3_lag_2,ema_3_lag_3,ema_3_lag_4,ema_3_lag_5,sma_10_lag_1,sma_10_lag_2,sma_10_lag_3,sma_10_lag_4,sma_10_lag_5,crossing
14,2018-05-05 05:30:00+02:00,0.901407,0.900400,0.100082,0.099920,0.100043,0.100003,0.100226,0.099948,0.099882,0.099945,0.099978,0.099972,0
15,2018-05-05 05:45:00+02:00,0.901503,0.901300,0.100143,0.100085,0.099923,0.100046,0.100006,0.100031,0.099951,0.099885,0.099948,0.099981,0
16,2018-05-05 06:00:00+02:00,0.903502,0.901852,0.100124,0.100113,0.100055,0.099893,0.100017,0.100101,0.100001,0.099921,0.099856,0.099918,0
17,2018-05-05 06:15:00+02:00,0.904261,0.901809,0.100288,0.100067,0.100056,0.099998,0.099836,0.100105,0.100044,0.099944,0.099864,0.099798,0
18,2018-05-05 06:30:00+02:00,0.905795,0.902410,0.100289,0.100204,0.099983,0.099972,0.099914,0.100017,0.100021,0.099960,0.099860,0.099780,0
19,2018-05-05 06:45:00+02:00,0.905878,0.902706,0.100374,0.100204,0.100119,0.099898,0.099887,0.099998,0.099932,0.099937,0.099875,0.099776,0
20,2018-05-05 07:00:00+02:00,0.904689,0.903240,0.100307,0.100298,0.100128,0.100044,0.099823,0.099956,0.099923,0.099857,0.099862,0.099801,0
21,2018-05-05 07:15:00+02:00,0.902884,0.903258,0.100119,0.100251,0.100241,0.100072,0.099988,0.099959,0.099899,0.099867,0.099800,0.099805,1
22,2018-05-05 07:30:00+02:00,0.902192,0.903576,0.099911,0.100110,0.100242,0.100233,0.100063,0.099952,0.099950,0.099891,0.099858,0.099792,0
23,2018-05-05 07:45:00+02:00,0.903841,0.903891,0.099837,0.099914,0.100114,0.100245,0.100236,0.099990,0.099955,0.099953,0.099894,0.099861,0
24,2018-05-05 08:00:00+02:00,0.904796,0.904273,0.100025,0.099842,0.099919,0.100119,0.100250,0.100030,0.099996,0.099960,0.099958,0.099899,1
25,2018-05-05 08:15:00+02:00,0.904398,0.904513,0.100125,0.100020,0.099837,0.099914,0.100113,0.100067,0.100025,0.099990,0.099955,0.099953,1
26,2018-05-05 08:30:00+02:00,0.905294,0.904582,0.100070,0.100114,0.100009,0.099826,0.099903,0.100083,0.100057,0.100014,0.099979,0.099944,1
27,2018-05-05 08:45:00+02:00,0.904142,0.904379,0.100128,0.100029,0.100073,0.099967,0.099785,0.100049,0.100042,0.100015,0.099973,0.099938,1
28,2018-05-05 09:00:00+02:00,0.903071,0.903846,0.099970,0.100098,0.099999,0.100043,0.099937,0.099996,0.100019,0.100011,0.099985,0.099943,0
29,2018-05-05 09:15:00+02:00,0.902605,0.903464,0.099861,0.099979,0.100107,0.100008,0.100052,0.099947,0.100005,0.100028,0.100020,0.099994,0
30,2018-05-05 09:30:00+02:00,0.902003,0.903254,0.099842,0.099894,0.100012,0.100140,0.100041,0.099937,0.099980,0.100039,0.100061,0.100053,0
31,2018-05-05 09:45:00+02:00,0.902466,0.903439,0.099816,0.099883,0.099934,0.100053,0.100180,0.099955,0.099978,0.100020,0.100079,0.100102,0
32,2018-05-05 10:00:00+02:00,0.902198,0.903482,0.099911,0.099860,0.099927,0.099978,0.100097,0.100019,0.099999,0.100022,0.100064,0.100123,0
33,2018-05-05 10:15:00+02:00,0.903819,0.903477,0.099913,0.099943,0.099891,0.099958,0.100010,0.100055,0.100051,0.100030,0.100053,0.100096,1
34,2018-05-05 10:30:00+02:00,0.904810,0.903482,0.100088,0.099909,0.099939,0.099887,0.099954,0.100051,0.100051,0.100046,0.100026,0.100049,0
35,2018-05-05 10:45:00+02:00,0.903985,0.903398,0.100173,0.100064,0.099884,0.099914,0.099863,0.100026,0.100026,0.100026,0.100022,0.100001,0
36,2018-05-05 11:00:00+02:00,0.903527,0.903086,0.100059,0.100150,0.100040,0.099861,0.099891,0.099994,0.100003,0.100002,0.100003,0.099998,0
37,2018-05-05 11:15:00+02:00,0.903364,0.903107,0.100000,0.100051,0.100142,0.100032,0.099853,0.099951,0.099986,0.099995,0.099995,0.099995,0
38,2018-05-05 11:30:00+02:00,0.903682,0.903307,0.099973,0.099991,0.100042,0.100133,0.100024,0.099945,0.099943,0.099977,0.099986,0.099986,0
39,2018-05-05 11:45:00+02:00,0.902886,0.903302,0.100012,0.099977,0.099995,0.100045,0.100137,0.099970,0.099948,0.099946,0.099980,0.099990,1
40,2018-05-05 12:00:00+02:00,0.902443,0.903362,0.099947,0.100035,0.100000,0.100018,0.100069,0.099993,0.099994,0.099972,0.099969,0.100004,0
41,2018-05-05 12:15:00+02:00,0.903246,0.903474,0.099915,0.099964,0.100053,0.100017,0.100036,0.100017,0.100011,0.100011,0.099989,0.099987,0
42,2018-05-05 12:30:00+02:00,0.905123,0.903981,0.100003,0.099914,0.099963,0.100051,0.100016,0.100028,0.100016,0.100009,0.100010,0.099988,1
43,2018-05-05 12:45:00+02:00,0.906532,0.904231,0.100182,0.099974,0.099885,0.099934,0.100022,0.100055,0.099999,0.099987,0.099980,0.099981,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33236,2019-04-17 18:45:00+02:00,0.331370,0.330798,0.100074,0.099920,0.099769,0.099846,0.099918,0.100031,0.099984,0.100064,0.100124,0.100269,0
33237,2019-04-17 19:00:00+02:00,0.331385,0.330842,0.100228,0.100062,0.099908,0.099757,0.099834,0.100055,0.100019,0.099972,0.100052,0.100112,0
33238,2019-04-17 19:15:00+02:00,0.332198,0.330937,0.100197,0.100193,0.100027,0.099873,0.099722,0.100033,0.100020,0.099984,0.099936,0.100016,0
33239,2019-04-17 19:30:00+02:00,0.332209,0.330971,0.100366,0.100120,0.100116,0.099950,0.099796,0.099985,0.099956,0.099943,0.099907,0.099860,0
33240,2019-04-17 19:45:00+02:00,0.331804,0.331139,0.100298,0.100295,0.100050,0.100045,0.099879,0.099924,0.099914,0.099886,0.099872,0.099837,0
33241,2019-04-17 20:00:00+02:00,0.331642,0.331296,0.100132,0.100255,0.100251,0.100006,0.100002,0.099932,0.099881,0.099871,0.099842,0.099829,0
33242,2019-04-17 20:15:00+02:00,0.331221,0.331393,0.100060,0.100109,0.100231,0.100228,0.099983,0.099956,0.099908,0.099858,0.099848,0.099819,1
33243,2019-04-17 20:30:00+02:00,0.331496,0.331614,0.099922,0.100049,0.100098,0.100220,0.100216,0.099973,0.099944,0.099897,0.099846,0.099836,0
33244,2019-04-17 20:45:00+02:00,0.332068,0.331797,0.100005,0.099922,0.100049,0.100098,0.100220,0.100041,0.099974,0.099945,0.099898,0.099847,1
33245,2019-04-17 21:00:00+02:00,0.331994,0.331856,0.100157,0.099984,0.099902,0.100029,0.100078,0.100075,0.100020,0.099954,0.099924,0.099877,0
33246,2019-04-17 21:15:00+02:00,0.331877,0.331840,0.100107,0.100130,0.099957,0.099874,0.100001,0.100066,0.100048,0.099993,0.099926,0.099897,0
33247,2019-04-17 21:30:00+02:00,0.332433,0.331999,0.100049,0.100084,0.100106,0.099934,0.099851,0.100038,0.100042,0.100025,0.099969,0.099903,0
33248,2019-04-17 21:45:00+02:00,0.333122,0.332079,0.100162,0.099994,0.100029,0.100051,0.099879,0.100031,0.099983,0.099988,0.099970,0.099915,0
33249,2019-04-17 22:00:00+02:00,0.333346,0.332214,0.100306,0.100098,0.099931,0.099966,0.099988,0.099992,0.099968,0.099920,0.099925,0.099907,0
33250,2019-04-17 22:15:00+02:00,0.333988,0.332537,0.100322,0.100255,0.100047,0.099880,0.099915,0.099981,0.099941,0.099917,0.099869,0.099874,0
33251,2019-04-17 22:30:00+02:00,0.334504,0.332891,0.100434,0.100241,0.100174,0.099967,0.099800,0.099998,0.099901,0.099860,0.099836,0.099788,0
33252,2019-04-17 22:45:00+02:00,0.335537,0.333468,0.100478,0.100323,0.100131,0.100063,0.099856,0.099994,0.099888,0.099791,0.099750,0.099726,0
33253,2019-04-17 23:00:00+02:00,0.337018,0.334141,0.100650,0.100341,0.100186,0.099993,0.099926,0.100030,0.099857,0.099751,0.099654,0.099613,0
33254,2019-04-17 23:15:00+02:00,0.337249,0.334625,0.100914,0.100471,0.100162,0.100007,0.099815,0.100053,0.099851,0.099679,0.099573,0.099476,0
33255,2019-04-17 23:30:00+02:00,0.337465,0.335201,0.100793,0.100724,0.100281,0.099973,0.099818,0.100009,0.099864,0.099663,0.099490,0.099385,0
33256,2019-04-17 23:45:00+02:00,0.336732,0.335625,0.100673,0.100608,0.100540,0.100098,0.099789,0.099997,0.099826,0.099681,0.099480,0.099308,0
33257,2019-04-18 00:00:00+02:00,0.336861,0.336025,0.100306,0.100524,0.100460,0.100391,0.099950,0.099976,0.099850,0.099678,0.099534,0.099333,0
33258,2019-04-18 00:15:00+02:00,0.336056,0.336169,0.100228,0.100190,0.100408,0.100344,0.100275,0.099979,0.099860,0.099734,0.099563,0.099419,1
33259,2019-04-18 00:30:00+02:00,0.335178,0.336242,0.099957,0.100196,0.100158,0.100376,0.100312,0.099991,0.099948,0.099829,0.099703,0.099531,0
33260,2019-04-18 00:45:00+02:00,0.335474,0.336356,0.099709,0.099970,0.100210,0.100172,0.100389,0.100026,0.100004,0.099961,0.099842,0.099716,0
33261,2019-04-18 01:00:00+02:00,0.334687,0.336244,0.099822,0.099734,0.099995,0.100235,0.100197,0.100085,0.100051,0.100029,0.099986,0.099867,0
33262,2019-04-18 01:15:00+02:00,0.334063,0.335931,0.099630,0.099864,0.099776,0.100038,0.100277,0.100094,0.100127,0.100093,0.100071,0.100029,0
33263,2019-04-18 01:30:00+02:00,0.333987,0.335472,0.099530,0.099716,0.099951,0.099862,0.100124,0.100087,0.100180,0.100213,0.100179,0.100158,0
33264,2019-04-18 01:45:00+02:00,0.334173,0.335160,0.099590,0.099612,0.099798,0.100033,0.099945,0.100032,0.100169,0.100263,0.100296,0.100262,0
33265,2019-04-18 02:00:00+02:00,0.335072,0.334989,0.099707,0.099652,0.099674,0.099860,0.100095,0.100002,0.100095,0.100232,0.100325,0.100358,1

In [8]:
print(crdt.crossing.value_counts())

0    28862
1     4390
Name: crossing, dtype: int64

In [9]:
# creating features 
for i in range(1, 6):
    crdt["x_" + str(i)] = crdt["sma_10_lag_"+ str(i)] - crdt["ema_3_lag_"+ str(i)]

In [10]:
data = crdt[["open_time","x_1", "x_2", "x_3", "x_4", "x_5", "crossing"]].copy()
display(data.head())

data["crossing"] = data["crossing"].shift(-1)
data = data.dropna()
data["crossing"] = data["crossing"].astype("int8")
display(data.head())

,open_time,x_1,x_2,x_3,x_4,x_5,crossing
14,2018-05-05 05:30:00+02:00,-0.000134,-0.000038,-0.000099,-0.000025,-0.000254,0
15,2018-05-05 05:45:00+02:00,-0.000112,-0.000134,-0.000038,-0.000099,-0.000025,0
16,2018-05-05 06:00:00+02:00,-0.000023,-0.000112,-0.000134,-0.000038,-0.000099,0
17,2018-05-05 06:15:00+02:00,-0.000183,-0.000023,-0.000112,-0.000134,-0.000038,0
18,2018-05-05 06:30:00+02:00,-0.000272,-0.000183,-0.000023,-0.000112,-0.000134,0

,open_time,x_1,x_2,x_3,x_4,x_5,crossing
14,2018-05-05 05:30:00+02:00,-0.000134,-0.000038,-0.000099,-0.000025,-0.000254,0
15,2018-05-05 05:45:00+02:00,-0.000112,-0.000134,-0.000038,-0.000099,-0.000025,0
16,2018-05-05 06:00:00+02:00,-0.000023,-0.000112,-0.000134,-0.000038,-0.000099,0
17,2018-05-05 06:15:00+02:00,-0.000183,-0.000023,-0.000112,-0.000134,-0.000038,0
18,2018-05-05 06:30:00+02:00,-0.000272,-0.000183,-0.000023,-0.000112,-0.000134,0

In [11]:
print(data.crossing.value_counts()[1])

4390

In [12]:
# downsampling
# Separate majority and minority classes
data_majority = data[data["crossing"]==0]
data_minority = data[data["crossing"]==1]



# Downsample majority class
df_majority_downsampled = resample(data_majority, 
                                 replace=False,    # sample without replacement
                                 n_samples=data.crossing.value_counts()[1])     # reproducible results

# Combine minority class with downsampled majority class
data_downsampled = pd.concat([df_majority_downsampled, data_minority])
 
# Display new class counts
data_downsampled.crossing.value_counts()
display(data_downsampled)

,open_time,x_1,x_2,x_3,x_4,x_5,crossing
23627,2019-01-07 09:30:00+01:00,-0.000870,-0.001194,-0.000960,-0.000570,-0.000447,0
6272,2018-07-10 05:15:00+02:00,0.000510,0.000831,0.000637,0.000352,0.000161,0
9060,2018-08-08 06:15:00+02:00,0.000665,-0.000269,-0.000108,0.000130,0.000103,0
20195,2018-12-02 15:30:00+01:00,-0.000165,-0.000118,0.000040,0.000134,0.000011,0
32575,2019-04-10 21:30:00+02:00,-0.000240,-0.000344,-0.000327,-0.000268,-0.000284,0
5418,2018-07-01 00:15:00+02:00,0.000085,-0.000042,-0.000196,-0.000280,-0.000415,0
15921,2018-10-18 17:30:00+02:00,0.000458,0.000163,-0.000142,-0.000047,0.000184,0
21163,2018-12-12 17:30:00+01:00,-0.000279,-0.000410,-0.000203,-0.000188,-0.000113,0
23030,2019-01-01 04:15:00+01:00,0.000159,0.000339,0.000321,0.000224,0.000084,0
5850,2018-07-05 19:45:00+02:00,0.000664,0.000522,0.000301,0.000278,-0.000002,0
2446,2018-05-30 13:30:00+02:00,-0.000264,-0.000357,-0.000537,-0.000586,-0.000546,0
4937,2018-06-25 12:15:00+02:00,-0.000565,-0.000082,-0.000075,-0.000127,-0.000026,0
1638,2018-05-22 03:30:00+02:00,0.000719,0.000550,0.000127,-0.000005,-0.000055,0
20602,2018-12-06 21:15:00+01:00,-0.000377,-0.000366,-0.000129,0.000318,0.000322,0
13375,2018-09-22 05:00:00+02:00,0.001020,0.001797,0.001988,0.002481,0.004913,0
30113,2019-03-16 05:00:00+01:00,-0.000273,-0.000333,-0.000133,-0.000090,-0.000236,0
32668,2019-04-11 20:45:00+02:00,-0.000391,-0.000474,-0.000327,-0.000228,-0.000101,0
29995,2019-03-14 23:30:00+01:00,0.000018,-0.000004,-0.000015,-0.000052,-0.000095,0
32237,2019-04-07 09:00:00+02:00,-0.000023,0.000149,0.000264,0.000379,0.000258,0
10765,2018-08-26 00:30:00+02:00,0.000202,0.000243,0.000173,0.000058,0.000064,0
26262,2019-02-03 20:15:00+01:00,0.000200,0.000198,0.000306,0.000380,0.000403,0
30163,2019-03-16 17:30:00+01:00,-0.000130,-0.000063,-0.000092,-0.000210,-0.000143,0
11130,2018-08-29 19:45:00+02:00,-0.000388,-0.000234,-0.000067,0.000269,0.000712,0
23103,2019-01-01 22:30:00+01:00,-0.000779,-0.000931,-0.001037,-0.001033,-0.000919,0
14682,2018-10-05 19:45:00+02:00,0.000460,0.000408,0.000362,0.000382,0.000415,0
17161,2018-10-31 18:00:00+01:00,-0.001247,-0.001421,-0.001599,-0.001588,-0.001116,0
15904,2018-10-18 13:15:00+02:00,0.000001,-0.000126,-0.000056,-0.000079,0.000240,0
6757,2018-07-15 06:30:00+02:00,-0.000308,-0.000220,-0.000241,-0.000217,-0.000105,0
23698,2019-01-08 03:15:00+01:00,0.000629,0.000407,0.000266,0.000093,-0.000022,0
3230,2018-06-07 17:30:00+02:00,0.000322,0.000268,0.000407,0.000414,0.000492,0
...,...,...,...,...,...,...,...
33092,2019-04-16 06:45:00+02:00,-0.000182,-0.000154,-0.000137,-0.000091,-0.000079,1
33101,2019-04-16 09:00:00+02:00,0.000161,0.000231,0.000279,0.000231,0.000116,1
33112,2019-04-16 11:45:00+02:00,-0.000245,-0.000339,-0.000364,-0.000361,-0.000360,1
33120,2019-04-16 13:45:00+02:00,0.000099,0.000201,0.000313,0.000411,0.000426,1
33121,2019-04-16 14:00:00+02:00,0.000061,0.000099,0.000202,0.000313,0.000411,1
33130,2019-04-16 16:15:00+02:00,0.000158,0.000222,0.000136,0.000191,0.000248,1
33137,2019-04-16 18:00:00+02:00,-0.000181,-0.000266,-0.000176,-0.000121,-0.000123,1
33140,2019-04-16 18:45:00+02:00,0.000030,0.000003,-0.000142,-0.000181,-0.000266,1
33151,2019-04-16 21:30:00+02:00,-0.000142,-0.000232,-0.000211,-0.000317,-0.000295,1
33154,2019-04-16 22:15:00+02:00,0.000064,0.000003,-0.000067,-0.000142,-0.000231,1
33155,2019-04-16 22:30:00+02:00,0.000009,0.000064,0.000003,-0.000067,-0.000142,1
33158,2019-04-16 23:15:00+02:00,0.000112,0.000098,-0.000009,0.000009,0.000064,1
33159,2019-04-16 23:30:00+02:00,0.000074,0.000112,0.000098,-0.000009,0.000009,1
33163,2019-04-17 00:30:00+02:00,0.000084,0.000075,0.000028,-0.000021,0.000074,1
33171,2019-04-17 02:30:00+02:00,-0.000351,-0.000419,-0.000444,-0.000456,-0.000224,1
33178,2019-04-17 04:15:00+02:00,0.000072,0.000257,0.000276,0.000336,0.000316,1
33180,2019-04-17 04:45:00+02:00,-0.000044,0.000074,0.000072,0.000257,0.000276,1
33187,2019-04-17 06:30:00+02:00,0.000106,0.000099,0.000015,0.000127,0.000104,1
33190,2019-04-17 07:15:00+02:00,-0.000088,-0.000085,0.000012,0.000106,0.000099,1
33199,2019-04-17 09:30:00+02:00,0.000073,0.000166,0.000194,0.000170,0.000116,1
33200,2019-04-17 09:45:00+02:00,0.000039,0.000073,0.000166,0.000195,0.000170,1
33210,2019-04-17 12:15:00+02:00,0.000101,0.000063,0.000145,0.000234,0.000259,1
33217,2019-04-17 14:00:00+02:00,-0.000327,-0.000426,-0.000328,-0.000215,-0.000191,1
33220,2019-04-17 14:45:00+02:00,0.000101,0.000016,-0.000169,-0.000327,-0.000426,1
33229,2019-04-17 17:00:00+02:00,-0.000625,-0.000799,-0.001074,-0.001370,-0.001937,1
33234,2019-04-17 18:15:00+02:00,0.000294,0.000278,0.000350,0.000244,-0.000348,1
33241,2019-04-17 20:00:00+02:00,-0.000201,-0.000374,-0.000380,-0.000164,-0.000173,1
33243,2019-04-17 20:30:00+02:00,0.000052,-0.000104,-0.000201,-0.000373,-0.000380,1
33257,2019-04-18 00:00:00+02:00,-0.000330,-0.000674,-0.000782,-0.000857,-0.000616,1
33264,2019-04-18 01:45:00+02:00,0.000443,0.000557,0.000464,0.000263,0.000317,1

In [13]:

# print(y_train)
# print(y_test)

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_score

X = data_downsampled[["x_1","x_2","x_3","x_4","x_5"]]
y = data_downsampled["crossing"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30)

clf = RandomForestClassifier(n_estimators=100)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
probs_y = clf.predict_proba(X_test) 

y_pred_a = np.array([1 if x[1] >= 0.65 else 0 for x in probs_y])

print(X_test.size)

print(precision_score(y_test, y_pred, labels=[1,0], average='binary'))
print(y_pred[y_pred == 1].shape)
print(precision_score(y_test, y_pred_a, labels=[1,0], average='binary'))
print(y_pred_a[y_pred_a == 1].shape)


print(X_test.size)
print(y_pred.size)
y_pred_a = np.reshape(y_pred_a, (-1,1)) 
X_test.insert(column="outcome", loc=0,value = y_pred_a)
X_test.insert(column="true", loc=0,value = y_test)

X_test.sort_index(inplace=True)
print(X_test)

/home/delinvas/anaconda3/envs/ari5123/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

13170
0.6368231046931407
(1385,)
0.69
(700,)
13170
2634
       true  outcome       x_1       x_2       x_3       x_4       x_5
32        1        0  0.000108  0.000139  0.000095  0.000086  0.000026
48        1        1  0.000169  0.000158  0.000110 -0.000171 -0.000255
67        1        0 -0.000106 -0.000186 -0.000424 -0.001003 -0.000443
78        0        0  0.000477  0.000457  0.000429  0.000346  0.000363
88        1        1  0.000261  0.000537  0.000576  0.000746  0.000620
94        1        1 -0.000127 -0.000321 -0.000360 -0.000508 -0.000259
100       0        0 -0.000177 -0.000020  0.000068  0.000204  0.000029
114       1        0 -0.000037 -0.000175 -0.000166 -0.000157 -0.000178
140       0        0 -0.000158 -0.000542 -0.000154  0.000068  0.000294
142       0        0  0.000187  0.000113 -0.000158 -0.000542 -0.000154
168       1        1 -0.000189 -0.000310 -0.000398 -0.000400 -0.000415
176       0        0  0.000518  0.000440  0.000311  0.000374  0.000339
183       1        1  0.000109  0.000185  0.000419  0.000467  0.000476
192       1        0 -0.000322 -0.000351 -0.000349 -0.000506 -0.000550
202       0        0  0.001742  0.002129  0.002446  0.002723  0.002316
207       1        1  0.000794  0.001199  0.000758  0.001176  0.001732
236       1        0  0.000404  0.000317  0.000293  0.000130  0.000215
247       0        0  0.000343  0.000206 -0.000163 -0.000348 -0.000380
254       0        0 -0.000227  0.000019  0.000353  0.000467  0.000908
255       0        0 -0.000343 -0.000227  0.000019  0.000353  0.000467
286       0        0  0.000889  0.001093  0.001037  0.000944  0.000588
287       1        1  0.000535  0.000891  0.001094  0.001038  0.000945
316       0        0  0.000456  0.000481  0.000293  0.000417  0.000559
325       0        0  0.000201 -0.000140 -0.000144 -0.000065  0.000038
331       0        0  0.000676  0.000709  0.000835  0.000988  0.001065
343       1        1  0.000065  0.000041  0.000041  0.000486  0.000948
360       1        0  0.000184  0.000183  0.000239  0.000396  0.000421
376       1        0  0.000226  0.000171  0.000316  0.000411  0.000314
387       0        0  0.000584  0.000479  0.000263  0.000017 -0.000137
393       0        1  0.000091  0.000169  0.000273  0.000432  0.000604
...     ...      ...       ...       ...       ...       ...       ...
32985     1        0 -0.000235 -0.000304 -0.000343 -0.000334 -0.000259
32999     0        1 -0.000005 -0.000169 -0.000241 -0.000171 -0.000129
33003     1        0  0.000157  0.000165  0.000083  0.000020 -0.000005
33011     0        0  0.000054  0.000135  0.000226  0.000239  0.000252
33026     0        0  0.000237  0.000296  0.000298  0.000335  0.000319
33040     1        0  0.000046  0.000084  0.000016 -0.000051 -0.000167
33041     0        1 -0.000040  0.000046  0.000084  0.000016 -0.000051
33052     0        0  0.000888  0.000957  0.001173  0.001160  0.001071
33056     0        1  0.000207  0.000435  0.000531  0.000646  0.000893
33058     1        0  0.000323  0.000211  0.000208  0.000437  0.000533
33066     0        0 -0.000284 -0.000085 -0.000053 -0.000164 -0.000122
33073     1        0 -0.000212 -0.000207 -0.000232 -0.000258 -0.000193
33100     0        0  0.000231  0.000279  0.000231  0.000116  0.000089
33101     1        0  0.000161  0.000231  0.000279  0.000231  0.000116
33112     1        1 -0.000245 -0.000339 -0.000364 -0.000361 -0.000360
33130     1        0  0.000158  0.000222  0.000136  0.000191  0.000248
33134     0        0 -0.000121 -0.000123 -0.000093  0.000098  0.000158
33140     1        0  0.000030  0.000003 -0.000142 -0.000181 -0.000266
33145     0        0 -0.000551 -0.000561 -0.000383 -0.000048  0.000045
33149     0        0 -0.000212 -0.000318 -0.000295 -0.000444 -0.000549
33154     1        0  0.000064  0.000003 -0.000067 -0.000142 -0.000231
33171     1        1 -0.000351 -0.000419 -0.000444 -0.000456 -0.000224
33190     1        1 -0.000088 -0.000085  0.000012  0.000106  0.000099
33210     1        0  0.000101  0.000063  0.000145  0.000234  0.000259
33219     0        0  0.000016 -0.000169 -0.000327 -0.000426 -0.000328
33241     1        0 -0.000201 -0.000374 -0.000380 -0.000164 -0.000173
33243     1        0  0.000052 -0.000104 -0.000201 -0.000373 -0.000380
33252     0        0 -0.000485 -0.000436 -0.000340 -0.000313 -0.000131
33257     1        1 -0.000330 -0.000674 -0.000782 -0.000857 -0.000616
33264     1        0  0.000443  0.000557  0.000464  0.000263  0.000317

[2634 rows x 7 columns]

/home/delinvas/anaconda3/envs/ari5123/lib/python3.7/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
print(crdt.iloc[33257])

IndexError: single positional indexer is out-of-bounds

In [ ]:
# from sklearn.linear_model import LinearRegression
# reg = LinearRegression().fit(X_train, y_train)
# y_pred = reg.predict(X_test)
# print(y_pred)
# # probs_y = log.predict_proba(X_test) 

# #print(precision_score(y_test, y_pred,labels=[1,0], average='binary'))

In [ ]:
# classifier = Sequential()
# #First Hidden Layer
# classifier.add(Dense(4, activation='relu', kernel_initializer='random_normal', input_dim=5))
# #Second  Hidden Layer
# classifier.add(Dense(4, activation='relu', kernel_initializer='random_normal'))
# #Output Layer
# classifier.add(Dense(1, activation='sigmoid', kernel_initializer='random_normal'))
# classifier.compile(optimizer ='adam',loss='binary_crossentropy', metrics =['accuracy'])
# classifier.fit(X_train,y_train, batch_size=10, epochs=100)

In [ ]:
# y_pred = model.predict(X_test)
# y_pred = [int(round(x[0])) for x in y_pred]

# print(y_pred)
# print(precision_score(y_test, y_pred,labels=[1,0], average='binary'))